@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: block;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

#title {
  font-size: 50px;
}

nav.logo {
  width: 50px;
}

.navbar-brand img {
  max-height: 50px;
  max-width: 50px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.309);
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #6c63ff;
}

.description {
  font-size: 20px;
  line-height: 1.5;
}

nav ul li a {
  color: #f7f7f7;
  font-size: 22px;
  margin: auto 10px;
}

nav ul li a:hover {
  color: #6c63ff;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.alt {
  background-color: #f0f8ff;
}

section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #0d00ff;
  text-align: left;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 300;
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}

#hero img {
  max-width: 130% !important;
  width: 130%;
}

#hero .card {
  box-shadow: 1px 1px 16px #464646;
  border: 0;
  text-align: center;
  margin: 20px;
}

.bold {
  font-weight: bold;
}

.large-text {
  font-size: 24px;
}

.underline {
  text-decoration: underline;
}

.btn-large {
  padding-top: 8px;
  padding-bottom: 8px;
}

#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#projects .projects {
  margin-bottom: 50px;
}

#contact {
  text-align: center;
  background-color: #6c63ff;
  color: white;
}

#contact h1 {
  text-align: center;
  color: white;
}

/* For width 200 - 399 */
@media only screen and (min-width: 200px) and (max-width: 399px) {
  body {
    background-image: url(./assets/softBGPortrait.png);
    background-size: 200%;
  }
}

/* For width 400 - 599 */
@media only screen and (min-width: 400px) and (max-width: 599px) {
  body {
    background-image: url(./assets/softBGPortrait.png);
    background-size: 200%;
  }
}

/* For width 600 - 999 */
@media only screen and (min-width: 600px) and (max-width: 999px) {
  body {
    background-image: url(./assets/softBG.png);
  }
}

/* For width 1000 - 1900 */
@media only screen and (min-width: 1000px) and (max-width: 1900px) {
  body {
    background-image: url(./assets/softBG.png);
  }
}

@media only screen and (min-width: 1901px) {
  body {
    background-image: url(./assets/softBG.png);
    background-size: 200%;
  }
}

.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.bn37 {
  border-color: transparent;
  background-color: #23272b;
  color: #fff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}